.navBar
    box-shadow: 0 1px 10px 3px rgba(0, 0, 0, .1)  
    &__wrapper
        margin: 0 auto
        display: grid
        width: 1500px
        grid-template-columns: 100px 1300px 40px 60px
        height: 100px
    &__types
        display: grid 
        grid-template-columns: 100px 150px 100px
        &-item
            font-weight: 400
            font-size: 30px
            text-align: center
            margin-top: 30px
    &__icon
        width: 100px
    &__currency
        margin-top: 37px
        &-symbol
            font-size: 18px
            font-weight: 500
            display: inline
            margin-right: 3px
        &-btn
            display: inline
    &__cart
        margin-top: 22px
        position: relative
        &-img
            width: 50px
        &-quantity
            font-size: 16px
            font-weight: 500
            position: absolute
            padding-left: 6px
            top: 1px
            color: #fff
            left: 36px
            width: 20px
            height: 20px
            border-radius: 50%
            background-color: black
